html,
body {
  width: 687px; /* Set the width to 700 pixels */
  height: 486px; /* Set the height to 500 pixels */
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  /* border: 1px double greenyellow; */
}

body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background: black;
}

a {
  text-decoration: none;
}

header {
  width: 101%;
  display: flex;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 9pt;
  z-index: 9999;
  /* border: 1px double cyan; */
}

.title-bar {
  color: white;
  padding: 0.35em 0.5em;
  flex-grow: 1;
}

.title-btn {
  padding: 0.35em 1em;
  cursor: pointer;
  vertical-align: bottom;
  font-family: Webdings;
  font-size: 11pt;
  color: white;
}

.title-btn-restore:hover {
  background: white;
  color: gray;
}

.title-btn-close:hover {
  background: #dc3545;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  filter: alpha(opacity=65);
  pointer-events: none;
}

.main-text {
  font-family: "Lilita One", cursive;
  color: white;
  position: fixed;
  left: 160px;
  margin-top: 10px;
  font-size: 48px;
}

input[type="text"] {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: 2px solid #014a92;
  font-size: 18px;
  border-top: 0px;
  border-radius: 0px;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: white;
  width: 100%; /* Take up full width of the container */
  max-width: 240px; /* Limit the input width */
}

input[type="text2"] {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: 2px solid #014a92;
  font-size: 18px;
  border-top: 0px;
  border-radius: 0px;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: white;
  width: 100%; /* Take up full width of the container */
  max-width: 240px; /* Limit the input width */
}

.input_text {
  position: fixed;
  height: 30px;
  top: 210px;
  left: 220px;
  border: 1px solid pink;
  text-align: center;
}


.tab-contents-container {
  position: fixed;
  top: 28px;
  left: 0px;
  width: 692px;
  height: 337px;
  border: 1px double #dc3545;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px double black;
  width: 175px;
  height: 100%;
}

.tab-main-text {
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20pt;
}

.tab-main-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* border: 1px double white; */
  position: fixed;
  top: 90px;
  left: 87px;
  width: 500px;
  height: 310px;
}

.tab-main2-buttons {
  margin-left: 70px;
  margin-top: 70px;
  width: 170px;
  height: 310px;
}

.tab-main-buttons {
  position: fixed;
  top: 90px;
  left: 110px;
  width: 170px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 1px double red; */
}

.tab-main-buttons-2 {
  width: 170px;
  height: 310px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 1px double red; */
}

.tab-main-buttons-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px double blue; */
}

.tab-button-text {
  color: white;
}

.tab-edit-style::placeholder {
  color: white;
  font-size: 12px;
}

.tab-edit-style::-ms-clear {
  display: none;
}

input[type="range"] {
  margin-top: -25px;
  /* -ms-appearance: none; */
  appearance: none;
  width: 140px;
  height: 34px;
  /* border-radius: 5px; */
  background-color: transparent;
  /* background-color: transparent; */
  outline: none;
}

.range-overlay {
  position: relative;
  top: 7px;
  left: 0px;
}

.range-overlay-text {
  pointer-events: none;
  position: relative;
  top: -57px;
  left: 55px;
  color: white;
  font-size: 16px;
  text-align: center;
  align-items: center;
}

input[type="range"]::-ms-thumb {
  -ms-appearance: none;
  width: 5px;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

input[type="range"]::-ms-fill-lower {
  /* border-color: #014a92; */
  border-color: transparent;
}

input[type="range"]::-ms-fill-upper {
  background: black;
}

input[type="range"]::-ms-track {
  height: 700px;
  border: 2px solid rgba(1, 46, 91, 10);
}

/* .range span {
  position: absolute;
  margin-left: 14px;
  width: 50px;
  height: 30px;
  background-color: #222;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
} */
/* 
.range span:before {
  content: "";
  position: absolute;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 12px solid #222;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
} */

input[type="text"] {
  background-color: rgba(0, 0, 0, 1);
  border: 2px double #014a92;
  border-radius: 5%;
  border-radius: 5%;
  outline: 0;
  color: white;
  font-size: 12px;
  text-align: center;
  width: 134px; /* Take up full width of the container */
  max-width: 180px; /* Limit the input width */
  height: 34px;
  margin-bottom: 40px;
}
.tab-edit:hover {
  color: white;
}

.tab-button {
  display: block;
  width: 140px;
  height: 40px;
  background-color: rgba(0, 0, 0, 1);
  border: 2px double #014a92;
  border-radius: 5%;
  color: white;
  font-size: 9pt;
  text-align: left;
  margin-bottom: 5px;
  text-align: center;
  margin-bottom: 40px;
  /* border: 1px double blue; */
}

.tab-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.status-container {
  position: fixed;
  top: 365px;
  left: 0px;
  width: 693px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px double green;
  font-family: "Open Sans", sans-serif;
  font-size: 11pt bold;
  color: white;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.status-text {
  text-align: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px double rgb(255, 208, 0);
  font-size: 11pt bold;
  color: white;
  align-items: center;
}

.icon-flex,
.icon-wrapper,
.icon-wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper {
  border-radius: 25%;
  overflow: hidden;
  border: 1px solid white;
  font-size: 3rem;
  width: 50px;
  height: 50px;
  margin-left: 4px;
}

.icon-wrapper2 {
  border-radius: 50%;
  overflow: hidden;
  font-size: 3rem;
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.icon-wrapper:hover {
  color: black;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 1);
}

i {
  font-size: 24px;
}

i3 {
  font-size: 8px;
}

i2 {
  font-size: 24px;
  color: white;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[datatooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[datatooltip]:before,
[datatooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[datatooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(datatooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[datatooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[datatooltip]:hover:before,
[datatooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
